body{background-color: #f0ead6; 
}



header { font-size: x-large;
    color: black;
    background-color: #FF3333;
    border: double;
    text-align: center;
}


footer { font-size: x-small;
    text-align: center;
    
    

}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

figure { width: 300px; 
    height: 300px;
    text-align: center;

}
figcaption { text-align: center;
    border: solid #ff0066;

}

h1 { text-align: center;
    border-bottom: 1px dotted red;

}

h2 { text-align: center;
color: red;
padding: 2px;
}

h3 {text-align: center;
}
