header, main, footer { display: block; }
* {box-sizing: border box; }
body { background-color: lightslategray;
}
#wrapper{ width: 100%;
    top: 0;
    position: fixed;
    overflow: hidden;
    margin: auto;
    background-color: turquoise;
}
nav { display: block;
    position: fixed;
    background-color: pink;
    overflow: hidden;



} 
h1 { 


}