<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initital scale=1">
<link rel="stylesheet" href="index.css"> 
<head>
    <title>project.html</title>
</head>
<body>
    <div class="navbar">
        <a href="#home" class="w3-button w3-bar-item">Home</a>
        <a href="#school" class="w3-button w3-bar-item">School</a>
        <a href="#resume" class="w3-button w3-bar-item">Resume</a>
        <a href="#personal" class="w3-button w3-bar-item">Personal</a>
        <a href="#contact" class="w3-button w3-bar-item">Contact</a>
    </div>

    <div class="main">






    </div>


</body>
