<style>
header, nav, main, footer, aside { display: block; }
* { box-sizing: border-box;}
body { margin:0;
       background-color: lightgrey; }

header { background: url("bchome.jpg");
        background-color: #838383;
         background-position: bottom;
         background-repeat: repeat-x;
         height: 550px;
         color: #ffffff;
         text-align: right;
         border-bottom: 1px solid #000000; }	
         
.logo { position: absolute;
       top: 200px;
       left: 600px;
     


}

.header-photo {position: relative;
                top: 0;
                left: 0;
        
}

column {
  float: left;
  width: 50%;
  padding: 15px;
}
    
header a {font-size: 10px; }

nav { float: left;
    }
nav ul { margin: 0;
        padding: 0;
         list-style-type: none; }
Nav li {
    display: inline-block;
    margin-right: 70x;
    padding-top: 25px;
    margin-left: 30px;
    }

nav a { 
    color: red;
    text-decoration: none;
    font-family: sans-serif;
        font-size: 20px; }
nav a:hover {
    color:white;
        }

`.w3-container,.w3-panel {padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}`
`.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}`
`.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}`
`.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}